@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Passion+One:wght@400;700&display=swap');

:root {
    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02: 'Passion One', cursive;
    --font03: "Kaushan Script", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

/* 1. Definindo a fonte padrão para o site todo */
html, body {
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--font01); /* Aplica Verdana e similares */
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--font02); /* Mantém Passion One para o título */
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 8vw; /* Agora ele responde à largura da tela 
    10vh - Janela ficando mais alta/baixa. 10vw - Janela ficando mais larga/estreita. */
    $10vh $Janela ficando mais alta/baixaElementos que ocupam a tela inteira sem scroll.    $10vw $Janela ficando mais larga/estreitaTítulos responsivos que se ajustam ao PC/Celular.*/
     
}

header > p {
    padding-bottom: 60px;
    padding-top: 0px;
    font-size: 50px;
 
}

/* 2. Definindo a fonte específica para as seções */
section {
    padding: 10vh 25px;
    padding: 10vh;
    padding-bottom: 10vh;
    padding-left: 25px;
    line-height: 2em;
    font-family: var(--font03); /* Alterado para Kaushan Script */
    font-size: clamp(1.5em, 3.5vw, 2.5em); /* Tamanho responsivo com mínimo e máximo */
    font-size: 4vw; /* altera a largura da letra */
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(57, 55, 55, 0.73);
    color: white;
     text-shadow: 2px  2px 0px black;
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.562);
    display: inline-block;
    padding: 10px;
   
}
section > p{
    padding-bottom: 2em;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section#img01 {
            background-image: url('imagens/background001.jpg');
            background-position: right center;
            background-size: cover;
}
section#img02 {
        background-image: url('imagens/background002.jpg');
        background-size: cover;
}

a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.359);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}