@charset   'utf-8';

* {
    margin: 0px;
    padding: 0px;
}
html, body {
    min-height: 100vh;
    background-color: darkgrey;
}
header {    background-color: black;
    color: white;
    text-align: center;

        }
        header > h1 {
            padding-top: 50px;
            font-variant: small-caps;
            margin: 3px;
            padding: 10px;
            padding-bottom: 2px;
        }
        header > p{
            padding: 5px;     
            padding-bottom: 30px;
        }

        section{
            padding: 10pt;
            padding-bottom: 10px;
            padding-left: 25px;
            line-height: 2em;
        }

        section.normal{
            background-color: white;
            color: black;

        }

        section.imagem{
            background-color: rgba(57, 55, 55, 0.73);
            color: black;

        }

        section.imagem > p{
            background-color: rgba(0, 0, 0, 0.251);
            width: 400px;
        }
        
        a{
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
        a:hover, footer > a:hover{
            text-decoration: underline;
            background-color: rgba(255, 255, 255, 0.359);
        }

        footer{
                background-color: black;
                color: white;
                text-align: center;
                padding: 10px;

        }