@charset   'utf-8';

# {
    margin: 0px;
    padding: 0px;
    
}
html, body {
    min-height: 100vh;
    background-color: darkgrey;
}
header {    background-color: black;
    color: white;
    text-align: center;

        }
        header > h1 {
            padding-top: 50px;
            font-variant: small-caps;
           margin-bottom: 2px;
        }
        header > p{
            padding-bottom: 30px;
            margin-top: 4px;
        }
        
        a{
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
        a:hover, footer > a:hover{
            text-decoration: underline;
            background-color: rgba(255, 255, 255, 0.359);
        }

        footer{
                background-color: black;
                color: white;
                text-align: center;
                padding: 10px;

        }