@charset "UTF-8";
*{ font-family: Arial, Helvetica, sans-serif;}
 body {
   background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(218, 218, 115));
  }
  main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow:  5px 5px 15px gray;
  }
  h1 {
  
    color: rgba(209, 122, 45, 0.815);
    text-shadow: 1px 1px 2px gray;
  }
  h2 {
    color: rgb(26, 47, 182);
  }
  p {
   font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    text-align: justify;
  }
